.lateral-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.9em 0 3.4em;
  height: 100%;
  width: 25%;

  h1 {
    display: flex;
    flex-direction: row;
    font-size: 4.5rem;
    gap: 0.2em;
    margin: 0;
    padding: 0 0.4em;
  }
  .logo-image {
    color: rgba(0, 0, 0, 1);
    font-family: Georgia;
    font-family: Georgia;
    font-feature-settings: 'lnum';
    font-style: normal;
    font-weight: 400;
    letter-spacing: -14px;
    line-height: 48px;
    width: 168px;
    &:hover {
      color: rgba(104, 104, 104);
    }
  }

  .menu-entries {
    display: flex;
    flex-direction: column;
    a {
      color: rgba(0, 0, 0);
      font-size: 28px;
      font-weight: 500;
      padding-left: 0.7em;
      text-align: justify;
      text-decoration: none;
      letter-spacing: 0.04em;
      cursor: pointer;
      border-top: 0.05em solid black;

      &:hover {
        color: rgba(104, 104, 104);
      }
    }
  }
}
