.content-title.about {
  display: flex;
  flex-direction: column;
  margin-left: 3.5em;
  gap: 3em;

  .about {
    color: rgba(198, 198, 198);
    font-size: 2.8rem;
    letter-spacing: -1px;
    margin-right: 2.5em;
    text-align: left;

    &:last-child {
      margin-bottom: 1.5em;
    }
  }
}
