#root {
  margin: 0 auto;
  text-align: center;
  min-width: 100vw;
  min-height: 100vh;
}

.main {
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgb(229, 229, 229, 0.9);
}

.lateral-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.9em 0 4em;
  height: 100%;
  width: 25%;

  h1 {
    display: flex;
    flex-direction: row;
    font-size: 4.5em;
    gap: 0.2em;
    margin: 0;
    padding: 0 0.4em;
  }
  .logo-image {
    color: rgba(0, 0, 0, 1);
    font-family: Georgia;
    font-family: Georgia;
    font-feature-settings: 'lnum';
    font-style: normal;
    font-weight: 400;
    letter-spacing: -14px;
    line-height: 48px;
    width: 168px;
    &:hover {
      color: rgba(104, 104, 104);
    }
  }

  .menu-entries {
    display: flex;
    flex-direction: column;
    a {
      color: rgba(0, 0, 0);
      font-size: 28px;
      font-weight: 500;
      padding-left: 0.7em;
      text-align: justify;
      text-decoration: none;
      letter-spacing: 0.04em;
      cursor: pointer;
      border-top: 0.05em solid black;

      &:hover {
        color: rgba(104, 104, 104);
      }
    }
  }
}

.content {
  width: 75%;
  margin-left: 25%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: transparent;
  display: flex;
  flex-direction: column;

  .content-title {
    font-size: 42px;
    margin-top: 16%;
    justify-items: start;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -0.05em;
    padding-left: 8px;

    span {
      color: rgba(0, 0, 0, 0.2);
    }
  }

  .content-subtext {
    display: flex;
    margin-top: 25%;
    font-size: 24px;
    font-weight: 400;
    justify-content: end;

    .text {
      width: 40%;
      color: rgba(0, 0, 0, 0.6);
      margin-right: 12%;
      line-height: 0.9;
    }
  }
}
